body{
   /* Set line spacing */
   line-height: 2;
}


header, nav{
    /* Set padding and margin */
    padding: 5px 10px 15px 20px;
    margin: 10px;
    

}

nav{
    text-align: center;
}
nav ul {
    /* Set display, margin, padding, font-size, background-color */
    margin: 40px;
    padding: 10px;
}
nav li{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: bisque;
    font-size: 24px;
    

}

nav a{
    /* Set text decoration*/
    display: inline-block;
    color: black;
    text-decoration: none;

}

a:visited{
    /* Set color */
    color: black;

}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 10px;
    color: black;

}


h1{
   /*Set font and font size*/
   font-family: "Merriweather", "Anton", 'Times New Roman', Arial, sans-serif;
   font-size: 48px;


}

h2{
    /*Set font, font size, and alignment*/
    font-family: "Anton", 'Times New Roman', Arial, sans-serif;
    font-size: 38px;
    text-align: center;
}

h3{
    /*Set font size*/
    font-size: 32px;
    margin-left: 5%;

}

h1, h2, h3{
    /*Set margin */
    margin-top: 24px;

}
.grid {
    /*Set width, margin, border properties, background color, and grid properties */
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    row-gap: 10px;
    column-gap: 60px;
    background-color: bisque;
    border-radius: 25px;
    
}

.grid div{
    /* Set border properties, padding, and background color */
    border: 5px solid black;
    border-radius: 25px;
    background-color: bisque;
    
}

.grid img{
    /* Set width, margin, and display */
    width: 90%;
    display: block;
    margin: auto;
}


.grid div:nth-child(3n+1)  {
    /* Set box shadow */
    box-shadow: 10px 0px 10px 5px gray;
    }

.grid div:nth-child(3n)  {
    /* Set box shadow */ 
    box-shadow: -10px 0px 10px 5px grey;
}

.grid div:nth-child(3n+2)  {
     /* Set box shadow */

     box-shadow: -10px 0px 10px 5px grey, 10px 0px 10px 5px grey;
}
    

p + p {
     /* Set indentation */
     text-indent: 5%;
  }
  
p{
     /* Set margin */
     margin-top: 12px;
     margin-left: 5%;
     margin-right: 5%;
}


.grid ul li{
    /* Set margin, line-spacing, list styling  */
    line-height: 1.5;
    list-style-image: url('/539w2023_hw3_more_css-main/images/sketchbook.png');
    margin-left: 20%;

}
